.navegacao{
    display: flex;
    justify-content: flex-start;
    gap: 5em;
}

.item__nav{
    text-decoration: none;
    color: #577F67;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--fonte-item-menu);
}

.item__nav:hover{
    padding: 2px 0 0 2px;
    color: rgb(170, 30, 239);
}