.conteudo__principal{
    padding-top: 2em ;
   text-align: center;
}

.titulo__principal{
    font-family: var(--fonte-titulo-principal);
    font-weight: 800;
    font-size: 4.5rem;
    color: var(--cor-titulo-principal);
}

.subtitulo__principal{
    font-family: var(--fonte-titulo-principal);
    font-weight: 300;
    color:  var(--cor-subtitulo-principal);
}

.conteudo__secundario{
    display:flex;
    width: 50vw;
    
}


.dominios{
   
    width: 100vw;
}

.descricao__principal{
    font-family: var(--fonte-titulo-principal);
    color: var(--cor-descricao-principal);
    font-weight: 700;
    font-size: 2rem;
}

.textos{
    display: flex;
    justify-content: center;
    padding: 3em 0;
}

.icones__principal{
    display: flex;
    justify-content: center;
}

.icone__angular{
    display: flex;
    justify-content: center;

}

 .rodape{
    margin: 6em 0 0 10em;
    display: flex;
    justify-content: end;
    align-items: end;
 
 }

 .rodape__texto{
    text-align: end;
    align-self: flex-end;
    font-weight: 40;
    font-family: var(--fonte-titulo-principal);
    color: var(--cor-subtitulo-principal);
 }

